body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.den{
    width: 300px;
    margin: 0 auto;
    .title{
        text-align: center;
    }
    .den__main{
        .den__main--display{
            text-align: center;
            padding: 5px 2px;
            border: 1px solid #000;
        }
        .den__main--keyboard{
            display: flex;
            flex-wrap: wrap;
            &-item{
                line-height: 100px;
                box-sizing: border-box;
                flex: 0 0 100px;
                text-align: center;
                border: 1px solid #000;
                margin: 0;
            }
        }
    }
}
.counter{
    width: 300px;
    margin: 0 auto;
    text-align: center;

}
.counter1{
    width: 300px;
    margin: 0 auto;

}
.common-style{
    text-align: center;
    border: 1px solid #000;
    font-weight: bold;

}
.counter__display{
    line-height: 60px;
    font-size: 20px;
    color: tomato;
}
.counter1__btn{
    padding: 5px 20px;
    font-size: 16px;
    transition: all .3s;
    &:hover{
        cursor: pointer;
        color: tomato;
        opacity: .7;
    }
}